*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    transition: 0.5s;
    &.toggleblanco{
        background-color: aliceblue;
    }
}

#toggle{
    height: 160px;
    width: 320px;
    background: rgb(25, 26, 25);
    box-shadow: inset 0 8px 60px  rgb(0, 0, 0, 0.1),
                inset 0 8px 60px  rgb(0, 0, 0, 0.1),
                inset 0 8px 60px  rgb(0, 0, 0, 0.1);
    position: relative;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    appearance: none;
    border-radius: 160px;
    &.toggleblanco{
        background-color: aliceblue;
        box-shadow: inset  2 8px  60px  rgb(0, 0, 0, 0.1),
                    inset  2 8px  8px  rgb(0, 0, 0, 0.1)
                    inset  -4 8px  4px  rgb(0, 0, 0, 0.05);

        .circulo{
            left: 160px;
            box-shadow: inset  0 8px  20px  rgb(0, 0, 0,0.1),
                        inset  4  4px  rgb(255, 255, 255,01),
                        inset  -4  4px  rgb(255, 255, 255,01);
            background: linear-gradient(to bottom, aliceblue,#afafaf);
        }

    }
}
.circulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
    content: "";
    background: linear-gradient(to bottom ,#444,#222);
    border-radius: 50vh;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 40px  rgba rgb(0,0,0,0.5),
    inset 4px 4px  rgba rgb(255,255,255,0.2),
    inset -4px 4px  rgba rgb(255,255,255,0.2);
}
